.KHUNG {
    width: 50%;
    height:50px;
    border: 1px solid;
    border-radius: 4px;
    padding: 0 20px;
    transition: 0.25s ease;
    background-color: aliceblue;
    border-radius: 30px;
}
.KHUNG:focus{
    border-color: rgb(2, 247, 255);

}
.OM{
    COLOR: WHITE;
    padding: 20px;
    position: relative;
}
.lable{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
}
.form-group {
    margin: 10px 0px;
}
.form-group label{ 
 font-weight:bold;
 font-variant:small-caps;
}
.form-group :focus{
 background-color:rgb(255, 255, 253);
 box-shadow:0 0 3px rgb(0, 0, 0);
 border:1px solid rgb(0, 0, 0);
}
.form-button{
 padding:8px 30px;
 outline:none;
 border:none;
 border-radius:20px;
 font-weight:bold;
 background-color:white;
 color:rgb(0, 0, 0);
 box-shadow:inset 0 0 20px rgb(254, 254, 255);}
 .form-button:hover{
 color:rgb(0, 0, 0);
 box-shadow:inset 0 0 20px rgb(105, 105, 105);}
.form-button:disabled{
 color:rgb(0, 0, 0);
 box-shadow:inset 0 0 20px rgb(0, 0, 0);}